* {
    margin: 0;
}
#main {
    background-color: #49380D;
    text-align: center;
    padding-top: 1.5rem;
    color: #FED97D;
}

img {
    max-width: 100%;
}

#img-div {
    background-color: #FDB768;
    padding: 4rem;
}