html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0;   
}

h1 {
    font-size: 4rem;
    margin-bottom: 0;
}

#main {
    margin: 10px 8px;
    padding: 15px;
    border-radius: 5px;
    background-color: #61481C;
    text-align: center;
    padding-top: 1.5rem;
    color: #fde3a7;
}

@media (max-width: 460px) {
    #main {
        margin: 0;
    }
}

#sub-title {
    padding-bottom: 1em;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    img {
      max-width: 50%;
    }
  }
  
  @media screen and (min-width: 1200px) {
    img {
      max-width: 60%;
    }
  }

#img-div {
    background-color: #807b4d;
    padding: 0.6rem;
    margin: 0 auto;
}

@media screen and (min-width: 1200px) {
    #img-div {
        width: 60%;
    }
}

@media (max-width: 460px) {
    #img-caption {
        font-size: 1.4rem;
    }
}

figcaption {
    color: #07111D;
    margin: 0.9rem 0 0.3rem 0;
}

figcaption > span {
    color: 	#C2BE99;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
  
  li {
    margin: 16px 0;
  }

  blockquote {
    font-style: italic;
    max-width: 500px;
    margin: 0 auto 50px auto;
  }

a {
    position: relative;
    text-decoration: none;
    color: #FFED00;
}
a::after {
    content: "";
    position: absolute;
    background-color: #DDFFBC;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover {
    color: #FEFFDE  ;
}

a:hover::after {
    width: 100%;
}