@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

/* NAV BAR */
#navbar {
	position: fixed;
	min-width: 290px;
	top: 0px;
	left: 0px;
	width: 300px;
	height: 100%;
	border-right: solid;
	border-color: rgba(0, 22, 22, 0.4);
	margin: 0px -10px 0px 20px;
}

/* ---------------- */

body {
	background-color: #dddddd;
}

#main-doc {
	position: absolute;
	margin-left: 310px;
	padding: 20px;
	margin-bottom: 110px;
}

header {
	font-family: 'Roboto Mono' monospace;
	font-weight: bold;
	font-size: 2em;
	font-weight: thin;
}

p {
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
	font-size: 18px;
	text-align: justify;
}

ul {
	list-style-type:square;
}

/* CODIGOS */

code {
	display: block;
	text-align: left;
	white-space: pre;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	background-color: #e9e2e2d7;
	padding: 0 15px;
	margin: 10px;
	border-radius: 5px;
	user-select: text;
}

/* COR DOS CODIGOS */

.cor-code {
	color: #569cd6;
}

.string-cor {
	color: #ce9178;
}

.destaque {
	background-color: #404040;
	color: #e6e6e6;
	padding: 0.14rem;
}

section ul li {
	margin: 8px;
}