@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

/* Reset */
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}


body {
	box-sizing: border-box;
	font-family: 'Roboto Mono' monospace;
	background-color: #dddddd;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* NAV BAR */

@media (min-width: 1280px) {
	#navbar {
		position: fixed;
		height: 100%;
	}
	
	#main-doc {
		position: absolute;
		margin-left: 250px;
	}
}

#navbar header {
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	padding: 20px;
}

#navbar {
	background-color: #bababa;
	border-bottom: 1px solid;
}

#navbar li {
	color: #020203;
	border-top: 1px solid black;
}

#navbar a {
	display: block;
	padding: 10px 30px;
	color: rgb(0, 0, 0);
	text-decoration: none;
	font-size: 18px;
	transition: all ease-in-out 0.4s;
}

#navbar li {
	list-style-type:none;
}

#navbar a:hover {
	color: #569cd6;
	margin-left: 5px;
}

/* ---------------- */

#main-doc {
	padding: 5px;
	margin-bottom: 110px;
}

header {
	font-weight: bold;
	font-size: 2em;
	font-weight: thin;
	padding-top: 2rem;
	padding-bottom: 0.6rem;
}

p {
	font-weight: 500;
	font-size: 18px;
	text-align: justify;
	padding: 1em;
	line-height: 1.2;
}

section ul {
	padding-left: 15px;
}

/* CODIGOS */

#des {
	background-color: #404040;
	color: #e6e6e6;
}

pre {
	display: block;
	text-align: left;
	white-space: pre;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	background-color: #2f2f2f;
	color: #e6e6e6;
	padding: 0 15px;
	margin: 10px;
	border-radius: 5px;
	user-select: text;
	tab-size: 4;
	padding-left: 1em;
}

/* COR DOS CODIGOS */

.cor-code {
	color: #569cd6;
}

.cor-code1 {
	color: #01cfff;
}

.string-cor {
	color: #ce9178;
}

.destaque {
	background-color: #404040;
	color: #e6e6e6;
	padding: 0.09rem;
	font-size: 15px;
}

section ul li {
	margin: 8px;
}

/* Listas */
#main-doc .preechido {
	list-style-type: disc;
}

#main-doc li {
	list-style-type: circle;
}

/* botão para voltar ao topo */
.goback {
	position: fixed;
	width: 50px;
	height: 50px;
	background-color: #020203;
	color: yellow;
	bottom: 40px;
	right: 50px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	font-size: 25px;
}

.goback :hover {
	color: yellowgreen;
}