body{
	width: 100%;
	height: 100vh;
	margin: 0;
	background-color: #000000;
	opacity: 0.8;
	background-size: 10px 10px;
	background-image: repeating-linear-gradient(45deg, #5d5d70 0, #5d5d70 1px, #000000 0, #000000 50%);
}

h1, p{
	color: white;
	text-align: center;
}

form{
	color: white;
	width: 60vw;
	max-width: 500px;
	min-width: 300px;
	margin: 0 auto;
	padding: 2em;
	background-color: rgb(37, 37, 69);
	border-radius: 12px;
}

label{
	display: block;
}

.campos{
	border: none;
	padding: 1rem 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

#recomenda{
	width: unset;
	margin: 0 0.5rem 0 0;
	vertical-align: middle;
}

.gostaria{
	width: unset;
	margin: 0 0.5rem 0 0;
	vertical-align: middle;
}

.texto{
	display: inline-block;
}