body{
	font-family: sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.4;
	color: #000000;
	margin: 0;
}

h1{
	font-weight: 400;
	line-height: 1.2;
}

p{
	font-size: 1.125rem;
}

h1, p{
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.box{
	width: 100%;
	margin: 3rem auto 0 auto;
}

label{
	display: flex;
	align-items: center;
	font-size: 1.125rem;
	margin-bottom: 0.5;
}

input, button, select, textarea{
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button{
	border: none;
}

header{
	margin-left: 0 0.625rem;
	margin-bottom: 1.875rem;
}

.form-group{
	margin: 0 auto 1.2rem auto;
	padding: 0.25;
}


.oraio, input-checkbox{
	display: inline-block;
	margin-right: 0.625rem;
	min-height: 1rem;
	min-width: 1rem;
}

.text-center{
	text-align: center;
}

