body{
    background: url(https://wallpapercave.com/wp/wp4194091.jpg);
    font-family: sans-serif;
    color: white;

}

.container{
    max-width: 500px;
    min-width: 300px
    text-align: center;
    color: #f3f3f3;
}

header{
    padding: 0 0.5rem;
    margin-bottom: 1.5rem;
}

h1{
    font-size: 32px;
    margin: 1em auto;
}

p{
    font-size: 18px;
    margin: -1em auto;
}

form{
    /* max-width: 500px;
    min-width: 300px; */
    margin: 0 auto;
    padding: 2em;
}

label{
    display: block;
    margin-top: 8px;
    text-align: left;
}

input, button, select, textarea{
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

.submit-button{
    background-color: #37AF65;
    border-color: #37AF65;
    color: #FFFFFF;
}